<?xml version="1.0" ?>
<robot name="AUTODESK" xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:include filename="$(find AUTODESK_description)/urdf/materials.xacro" />
<xacro:include filename="$(find AUTODESK_description)/urdf/AUTODESK.trans" />
<xacro:include filename="$(find AUTODESK_description)/urdf/AUTODESK.gazebo" />
<link name="base_link">
  <inertial>
    <origin xyz="0.008250494026902318 -0.00014052632812146858 0.026495828371672355" rpy="0 0 0"/>
    <mass value="0.9341430764694033"/>
    <inertia ixx="0.000726" iyy="0.003429" izz="0.004125" ixy="3e-06" iyz="0.0" ixz="-5e-05"/>
  </inertial>
  <visual>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://AUTODESK_description/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://AUTODESK_description/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

</robot>
